@use "./partials/resets" as *;
@use "./partials/variables" as *;

.nav {
  background-color: $black;

  &__bar {
    display: flex;
    justify-content: space-around;
  }

  &__bar-left {
    display: flex;
    justify-content: baseline;
  }

  &__bar-right {
    display: flex;
    align-items: flex-end;
  }

  &__logo-container {
    text-align: center;
  }

  &__logo {
    width: 7.5rem;
  }

  &__list {
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 5rem;
  }

  &__list-item {
    text-align: center;
    font-size: 1.1rem;
    width: auto;
    padding-bottom: 2rem;

    &:hover {
      color: $orange;
    }
  }

  &__list-item:hover {
    cursor: pointer;
  }
}

.hero {
  background-image: url("../assets/hero-image.jpg");
  background-size: cover;
  background-position: 0% 20%;
  height: 60vh;
  padding: 4rem;
  position: relative;

  &__image-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    width: 60%;
    height: 60vh;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &__title {
    color: $white;
    font-size: 5rem;
    width: 100%;
    margin-bottom: 2rem;
    position: absolute;
    top: 20%;
  }

  &__button {
    color: $white;
    background: $orange;
    padding: 1rem 2rem;
    position: absolute;
    top: 70%;

    &:hover {
      color: $orange;
      background: $white;
      cursor: pointer;
    }
  }
}
